*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    background-color: rgb(97, 42, 161);
}
header{
    z-index: 10;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.466);
}
main{
    display: flex;
    width: 100vw;
    margin: 100px 0 50px 0;
    flex-direction: column;
    justify-content: space-around;
}
#light{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 50%;
    width: 70vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 0 1000px rgba(255, 255, 255, 0.199);
    border-radius: 100%;
    filter: blur(300px);
}
#darknees{
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.507);
    filter: blur(300px);
}
#list{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
#list>li{
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.719);   
}
#burguer{
    list-style: none;  
}
#burguer>li{
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.719);
}
#menu{
    position: absolute;
    top: 25px;
    right: 53px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.719);
    transform: scale(2);
}
#list>li>a,#burguer>li>a,#menu{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
#mainContainer{
    width: 70vw;
    min-height: 60vh;
    max-height: 200%;
    margin: auto;
    background-color: rgba(120, 1, 255, 0);
    border: 7px solid rgba(197, 147, 255, 0.24);
    border-radius: 10px;
    box-shadow: 0 10vh 200px rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(50px);
}
#butts{
    position: absolute;
    bottom: -45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#butt1,#butt2{
    min-height: 45px;
    margin: 10px;
    padding: 15px 15px 0px 15px;
    background-color: #FFA400;
    text-decoration: none;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 7vw;
    font-weight: 400;
    text-align: center;
    color: black;
}
#butt2{
    min-width: 275px;
}
h1{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20vw;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: rgb(252, 252, 252);
}
p{
    font-family: 'Slabo 27px', serif;
    color: rgb(252, 252, 252);
    font-size: 5vw;
    text-align: justify;
    padding: 20px;
}
h2{
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    font-size: 10vw;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.884);
}
#imgs{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
#img1,#img2{
    max-width: 400px;
    width: 30vw;
    height: 20vh;
    margin: 50px;
    justify-self: center;
    border-radius: 7px;
    background-color: #eaf6ff63;
    filter: blur(50px);
}
@media screen and (min-width:237px){
    h2{
        font-size: 23px;
    }
    h1{
        font-size: 48px;
    }
    #butt1,#butt2{
        font-size: 17px;
    }
    h1::after{
        font-size: 48px;
    }
    p{
        font-size: 20px;
    }
}
@media screen and (max-width:463px) {
    #butt2{
        min-width: 0;
    }
}
.hidding{
    display: none;
    transition: 0.2s;
}
.visible{
    display: inline-block;
    transition: 0.2s;
}
